*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normal fonts */
@font-face {
    font-family: gotham;
    font-weight: normal;
    src: url(/fonts/GothamRoundedMedium_21022.ttf);
}
/* bold font */
@font-face {
    font-family: gotham;
    font-weight: bold;
    src: url(/fonts/GothamRoundedBold_21016.ttf);
}
body{
    font-family: gotham;
    font-weight: normal;
    /* color: white; */
}
header[class='container-fluid']{
   background-image: url(/assets/images/header.jpg);
}
section[id='container-4th']{
   background-image: url(/assets/images/femalehand-with-mobile.png);
}
.container-fluid{
    padding:0 1em;
}
.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
 }
 .col-12{
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    /* border: 2px solid green; */

 }